@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');

$white: #FFF;
$orangered: #E65C43;
$gray: #666;
$orange: #F25C43;
$coolwhite: #F5F6F6;
$darkgray: #30353D;
$font-base: 'Roboto', sans-serif;
$img-bg: '../images/bg.gif';
$img-logo: '../images/logo.png';
$img-socialbar: '../images/social-media.png';
$scrLg: 959px;
$scrMd: 767px;
$scrSm: 459px;